@import "tailwindcss";

@theme {
  --color-red: oklch(0.48 0.1563 24.46);
  --color-cream: oklch(0.96 0.0237 88.23);
  --color-brown: oklch(0.36 0.0832 51.78);
  --color-yellow: oklch(0.76 0.1433 68.19);
  --font-inter: "Inter", "sans-serif";
  --font-title: "Shrikhand", "serif";
  --font-body: "Arvo", "serif";

}